$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import"../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.brandimage {
    background-image: url(/images/1up-transparent-48x48.png);
    height: 48px;
    width: 48px;
    margin: 8px;
}
.navbar {
    background-color: #c6c1c1;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #e6e1e1;
}
.navbar-brand.visible-xs {
    padding: 22px 0;
}
@media(min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -8px;
    }
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* Space out content a bit */
 body {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
    background-color: #D6D1D1;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */
 .header {
    border-bottom: 1px solid #e5e5e5;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}
/* Custom page footer */
 .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */
 .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}
/* Supporting marketing content */
 .marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}
/* Responsive: Portrait tablets and up */
 @media screen and(min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.hugo-date-widget {
    line-height: 1;
    padding: 0 5px 5px;
    border: 3px solid #ccc;
    border-radius: 10px;
    width: auto;
    position: absolute;
    right: 30px;
    top: 25px;
    .month {
        font-size: 200%;
        padding-bottom: 5px;
        display:block;
        text-align: center;
    }
    .rest {
        display:block;
        text-align: center;
    }
}
