{{ template "chrome/header.html" }}
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a>
            </li>
            <li><a href="#">About</a>
            </li>
            <li><a href="#">Contact</a>
            </li>
        </ul>
         <h3 class="text-muted">{{ .Title }}</h3>

         <div class="row">
             <h1>Posts</h1>
             <ul>
                 {{ range .Data.Pages }}
                   {{ .Render "li" }}
                 {{ end }}
             </ul>
         </div>
    </div>
</div>

{{ template "chrome/footer.html" }}
